{% extends 'health/basic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Appointment Form{% endblock %}
{% block body %}
<div class="container">
    <p>Know your doctors before booking the appointment</p>
    <a class="btn btn-primary px-2" style="margin-bottom: 2rem;" href="{% url 'patient_doctor_view' %}">View Doctors</a>
    <form action="" method="post">
        {% csrf_token %}
        {{form | crispy}}
        <!--    {% crispy form %}-->
        <div class="row">
            <div class="col-xs-6 mx-3 form-group">
                <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                <span class="submitting"></span>
                
            </div>
            <div class="col-xs-6 mx-3">
                <a href="{% url 'patient-view-appointment' %}" class="btn btn-primary">View history</a>
            </div>
        </div>
    </form>
     <div id="form-message-warning mt-4"></div>
          <div id="form-message-success">
            Your message was sent, thank you!
          </div>
</div>


{% endblock %}