{% extends 'health/basic.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% load static %}
<style>
  .btn-primary{
    padding: 0.5rem;
    text-transform: uppercase;
    background-color: #007bff;
    color: white;
  }
</style>
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <form action="" method="get">
      <label for="featured">Hospital</label>
      <select name="featured">
        <option>Select Hospital</option>
        {% for i in doctor %}
          <option>{{i.hospital}}</option>
        {% endfor %}
      </select>
      <input class="btn-primary" type="submit" name="featured" value="Filter" />
    </form>
    <table class="table table-hover"  id="appointment">
      <thead>
        <tr>
          <th>Profile Pic</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Age</th>
          <th>Years of experience</th>
          <th>Degree</th>
          <th>Gender</th>
          <th>Hospital</th>
        </tr>
      </thead>
      {% for i in doctor %}
      <tr>
        <td><img src="{{i.profile_pic.url}}" height="70px" width="70px"></td>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.year_of_experience}}</td>
        <td>{{i.degree}}</td>
        <td>{{i.gender}}</td>
        <td>{{i.hospital}}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}