{% extends 'health/basic.html' %}
{% load static %}
{% block title %}Home{% endblock %}
<!--{% block link %}{% endblock %}-->
{% block body %}
<section class="home" id="home">

<div class="container">

    <div class="row min-vh-100 align-items-center text-center text-md-left">

        <div class="col-md-6 pr-md-5" data-aos="zoom-in">
            <img src="images/home-img.svg" width="100%" alt="">
        </div>

        <div class="col-md-6 pl-md-5 content" data-aos="fade-left">
            <h1><span>stay</span> safe, <span>stay</span> healthy.</h1>
            <h3>caring for you.</h3>
            <a href="#"><button class="button">learn more</button></a>
        </div>

    </div>

</div>

</section>


<!-- home section ends -->

<!-- about section start  -->

<section class="about" id="about">

<div class="container">

    <div class="row min-vh-100 align-items-center">

        <div class="col-md-6 content" data-aos="fade-right">

            <div class="box">
                <h3> <i class="fas fa-ambulance"></i> ambulance services </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
            </div>

            <div class="box">
                <h3> <i class="fas fa-procedures"></i> emergency rooms </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
            </div>

            <div class="box">
                <h3> <i class="fas fa-stethoscope"></i> free check-ups </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, suscipit.</p>
            </div>

        </div>

        <div class="col-md-6 d-none d-md-block" data-aos="fade-left">
            <img src="images/about-img.png" width="100%" alt="">
        </div>

    </div>

</div>

</section>

{% endblock %}
