{% extends 'health/basic.html' %}
{% block title %}Home{% endblock %}
{% load static %}
    <link rel="stylesheet" href="{%static 'health/css/bootstrap.css' %}">

{% block body %}

 <link rel="stylesheet" href="{%static 'health/css/themify-icons.css' %}">
<!--    <link rel="stylesheet" href="{%static 'health/css/flaticon.css' %}">-->
    <link rel="stylesheet" href="{%static 'health/css/style2.css' %}">
    <link rel="stylesheet" href="{%static 'health/scss/_breadcrumb.scss' %}">
    <link rel="stylesheet" href="{%static 'health/scss/_header.scss' %}">
  <section class="banner-area d-flex align-items-center" style="background-image: url('{%static 'health/images/home-banner.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <h1>Making Health<br>
                    Care Better Together</h1>
                    <p>Aim2Care will strive to be the most people-centric,
                        credible and comprehensive home healthcare solution
                        provider in India.</p>
                    <a href="{% url 'appointment' %}" class="main_btn">Make an Appointment</a>
                </div>
            </div>
        </div>
    </section>

<section class="feature-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-feature text-center text-lg-left">

                            <h3 class="card-feature__title"><span class="card-feature__icon">
                                <i class="fas fa-calendar-check"></i>
                            </span>Appointment</h3>
                            <p class="card-feature__subtitle">>A patient-centric service that gives patients the freedom to consult a doctor at his convenience from anywhere, anytime. </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-feature text-center text-lg-left">

                            <h3 class="card-feature__title"><span class="card-feature__icon">
                                <i class="fas fa-ambulance"></i>
                            </span>Emergency Cases</h3>
                            <p class="card-feature__subtitle">Immediate booking for bed, ICU, oxygen cylinder, etc during medical emergencies </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-feature text-center text-lg-left">

                            <h3 class="card-feature__title"><span class="card-feature__icon">
                                <i class="fas fa-vial"></i>
                            </span>Lab Appointment</h3>
                            <p class="card-feature__subtitle">Lab right to the consumer’s doorstep, with home sample collection, same-day reports and affordable pricing on lab tests.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
{% endblock %}
