{% extends 'health/basic.html' %}

{% load static %}


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">




{% block title %}Lab Products{% endblock %}

{% block body %}
{% load cart %}
{% load custom_filter %}

<style type="text/css">
  .bg-cover {
      background-size: cover !important;
  }
  
  body {
      min-height: 100vh;
  }
  
  section{
    padding: 60px 0;
  }
  
  #accordion-style-1 h1,
  #accordion-style-1 a{
      color: black;
      font-weight: 600;
      background-color: transparent;
      text-decoration: none !important;
      font-size: 28px;
  }
  
  #accordion-style-1 .btn-link {
      font-weight: 100;
      color: #007bff;
      background-color: transparent;
      text-decoration: none !important;
      font-size: 11px;
      font-weight: bold;
    padding-left: 25px;
  }
  
  #accordion-style-1 .card-body {
      border-top: 2px solid #007bff;
  }
  
  #accordion-style-1 .card-header .btn.collapsed .fa.main{
    display:none;
  }
  
  #accordion-style-1 .card-header .btn .fa.main{
    background: #007bff;
      padding: 13px 11px;
      color: #ffffff;
      width: 35px;
      height: 41px;
      position: absolute;
      left: -1px;
      top: 10px;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    display:block;
  }
  
  .navbar-nav{
    font-size: 17px;
      font-weight: bold;
      color: black;
  }
  
  
  </style>


<nav class="one-edge-shadow navbar navbar-expand-lg navbar-light" style="background-color: #35477d;height: 2rem;">
 
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/patient/lab2" style="color: #ffffff; font-weight: bold; font-size: 15px;">AIM 2 CARE DIAGNOSTIC LAB</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="/patient/orders" style="color: #ffffff; font-weight: 100; font-size: 15px;">Your Orders</a>
      </li>
  
    </ul>
  
  
    <ul class=" navbar-nav my-2 my-lg-0">
      <li class="nav-item ">
        
        <a class="nav-link" href="/patient/cart" style="color: #ffffff;font-weight: 200;font-size: 15px;">Cart 
          <span class="badge badge-info" style="background-color: #8396ff">{{request.session.cart.keys|length}}</span>
          <span class="sr-only"  >(current)</span></a>
      </li>
      
  
    </ul>
  </div>
  </nav> 

<div style="background: url(https://www.eurofins-technologies.com/pub/media/catalog/category/covid-19-header.jpg)" class="jumbotron bg-cover text-white">
  <div class="container py-5 text-center">
      <h1 class="display-7 font-weight-bold">Book Lab Tests At Home</h1>
      
  </div>
</div>

<!-- body -->
<div class="container-fluid mt-3">
	<div class="row">


		<!-- filter -->

		<div class="col-lg-3 mx-auto">
			<div class="list-group">

				<a href="lab2" class="list-group-item list-group-item-action">All Products</a>

				{% for category in categories %}
				<a href="?category={{category.id}}"
					class="list-group-item list-group-item-action">{{category.name}}</a>
				{% endfor %}
			</div>
		</div>

		<!-- all products -->
		<div id='products' class="col-lg-9 mx-auto">
			<div class="row mx-auto">
				{% for product in products %}
				<div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
					<img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title" style="color: black;">{{product.name}}</h5>
            <p class="card-text" style="color: black;">{{product.category.name}}</p>
            <p class="card-text" style="color: black;">{{product.price|currency}}</p>
            <p class="card-text" style="color: black;">{{product.description}}</p>
						
					</div>

					<div class="card-footer p-0 no-gutters">

						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
						{% else %}
						<form action="#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-light  form-control"
								value="Add To Cart">
						</form>
						{% endif %}

					</div>

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>



{% endblock %}