{% extends 'health/basic.html' %}
{% block title %}Profile{% endblock %}
{% load crispy_forms_tags %}
{% load static %}
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" />-->
{% block body %}

	<div class="container">
		<div class="form-group">
			<form method="POST" action="">
                {% csrf_token %}
                {{form | crispy}}
				{{profile | crispy}}
			<input class="btn btn-primary my-3" type="submit" name="Update Information">
			</form>
		</div>
	</div>

{% endblock %}
