{% extends 'health/basic.html' %}
{% block title %}Appointment List{% endblock %}
{% block body %}
{% load static %}
<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h6 class="panel-title">Your Appointments</h6>
    </div>
    <table class="table table-hover"  id="appointment">
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Issue Name</th>
          <th>Doctor Name</th>
          <th>Appointment Date</th>
          <th>Time Slot</th>
          <th>Status</th>
          <th>Delete</th>
        </tr>
      </thead>
      {% for a in appointments %}
      <tr>
        <td>{{a.patient}}</td>
        <td>{{a.coursecategory}}</td>
        <td>{{a.coursetopic}}</td>
<!--        <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>-->
        <td>{{a.date}}</td>
<!--        <td>{{p.mobile}}</td>-->
        <td>{{a.timeslot}}</td>
        {% if a.status %}
        <td>Approved</td>
        <td><a href="{% url 'doctor-delete-appointment' a.id %}" class="btn btn-danger">Delete</a></td>
        {% else %}
        <td><a href="{% url 'doctor-approve-appointment' a.id %}" class="btn btn-success">Approve</a></td>
        <td><a href="{% url 'doctor-delete-appointment' a.id %}" class="btn btn-danger">Reject</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}