{% extends 'health/basic.html' %}
{% block title %}Add Doctors{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form | crispy}}
        <input type="submit" value="Add" class="btn btn-primary rounded-0 py-2 px-4">
    </form>
    <div id="form-message-warning mt-4"></div>
    <div id="form-message-success">
      Your message was sent, thank you!
    </div>
</div>
{% endblock %}