{% extends 'health/basic.html' %}
{% block title %}Home{% endblock %}
{% block body %}
{% load static %}

<style>
	
  /* SIGNUP LOGIN */
  
  
    
    .weather-card {
      margin: 60px auto;
      height: 400px;
      width: 450px;
      background: rgb(255, 255, 255);
      box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }
    .weather-card .top {
      position: relative;
      height: 300px;
      width: 100%;
      overflow: hidden;
      background: url("https://previews.123rf.com/images/279photo/279photo1612/279photo161204550/68032363-concept-of-appointment-to-doctor-online-top-view-on-wooden-background.jpg") no-repeat;
      background-size: cover;
      background-position: center center;
      text-align: center;
    }
    .weather-card .top .wrapper {
      padding: 30px;
      position: relative;
      z-index: 1;
    }
    .weather-card .top .wrapper .mynav {
      height: 20px;
    }
    .weather-card .top .wrapper .mynav .lnr {
      color: #fff;
      font-size: 20px;
    }
    .weather-card .top .wrapper .mynav .lnr-chevron-left {
      display: inline-block;
      float: left;
    }
    .weather-card .top .wrapper .mynav .lnr-cog {
      display: inline-block;
      float: right;
    }
    .weather-card .top .wrapper .heading {
      margin-top: 20px;
      font-size: 35px;
      font-weight: 400;
      color: #fff;
    }
    .weather-card .top .wrapper .location {
      margin-top: 20px;
      font-size: 21px;
      font-weight: 400;
      color: #fff;
    }
    .weather-card .top .wrapper .temp {
      margin-top: 20px;
    }
    .weather-card .top .wrapper .temp a {
      text-decoration: none;
      color: #fff;
    }
    .weather-card .top .wrapper .temp a .temp-type {
      font-size: 85px;
    }
    .weather-card .top .wrapper .temp .temp-value {
      display: inline-block;
      font-size: 85px;
      font-weight: 600;
      color: #fff;
    }
    .weather-card .top .wrapper .temp .deg {
      display: inline-block;
      font-size: 35px;
      font-weight: 600;
      color: #fff;
      vertical-align: top;
      margin-top: 10px;
    }
    .weather-card .top:after {
      content: "";
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
    }
    .weather-card .bottom {
      position: relative;
      height: 100px;
      width: 100%;
      overflow: hidden;
      background: url("httwYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80") no-repeat;
      background-size: cover;
      background-position: center center;
      text-align: center;
    }
    .weather-card .bottom .wrapper .forecast {
      overflow: hidden;
      margin: 0;
      font-size: 0;
      padding: 0;
      padding-top: 20px;
      max-height: 155px;
    }
    .weather-card .bottom .wrapper .forecast a {
      text-decoration: none;
      color: #000;
    }
    .weather-card .bottom .wrapper .forecast .go-up {
      text-align: center;
      display: block;
      font-size: 25px;
      margin-bottom: 10px;
    }
    .weather-card .bottom .wrapper .forecast li {
      display: block;
      font-size: 25px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.25);
      line-height: 1em;
      margin-bottom: 30px;
    }
    .weather-card .bottom .wrapper .forecast li .date {
      display: inline-block;
    }
    .weather-card .bottom .wrapper .forecast li .condition {
      display: inline-block;
      vertical-align: middle;
      float: right;
      font-size: 25px;
    }
    .weather-card .bottom .wrapper .forecast li .condition .temp {
      display: inline-block;
      vertical-align: top;
      font-family: 'Montserrat', sans-serif;
      font-size: 20px;
      font-weight: 400;
      padding-top: 2px;
    }
    .weather-card .bottom .wrapper .forecast li .condition .temp .deg {
      display: inline-block;
      font-size: 10px;
      font-weight: 600;
      margin-left: 3px;
      vertical-align: top;
    }
    .weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
      font-size: 20px;
    }
    
    .weather-card.rain .top {
      
      background-size: cover;
      background-position: center center;
    }
  
    .submit-btn {
      height: 56px;
      width: 260px;
      font-size: 20px;
      font-weight: 600;
      border: none;
      margin-top: 10px;
      background-color: #2371DF;
      color: #FFFFFF;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    
   
  </style>
  

  
<div class="container">
	<div class="row">
		<div class="col">
			<div class="weather-card one">
				
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="#"><span class="lnr lnr-chevron-left"></span></a>
							<a href="#"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Check your todays appointments</h1>
						
				
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="{% url 'doctor-view-appointment' %}"><button class="submit-btn" type="submit">Check</button></a>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="weather-card rain">
				<div class="top">
					<div class="wrapper">
						<div class="mynav">
							<a href="#"><span class="lnr lnr-chevron-left"></span></a>
							<a href="#"><span class="lnr lnr-cog"></span></a>
						</div>
						<h1 class="heading">Delete appointments</h1>
						
						
					</div>
				</div>
				<div class="bottom">
					<div class="wrapper">
						<ul class="forecast">
							<a href="/doctor-delete-appointment"></a><button class="submit-btn" type="submit">Delete</button></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


  <!-- <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <a href="{% url 'doctor-view-appointment' %}">
              <h6 class="m-b-20">View Your Appointment</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-calendar f-left"></i></h2>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-6">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <a href="/doctor-delete-appointment">
              <h6 class="m-b-20">Delete Appointment</h6>
            </a>
            <br>
            <h2 class="text-right"><i class="fas fa-eject f-left"></i></h2>
          </div>
        </div>
      </div>


    </div>
  </div> -->

{% endblock %}