

/* SIGNUP LOGIN */

body {
    font-family: 'Montserrat', sans-serif;
    background: #112233;
  }
  
  .weather-card {
    margin: 60px auto;
    height: 500px;
    width: 450px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1px 38px rgba(0, 0, 0, 0.15), 0 5px 12px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .weather-card .top {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url("https://images.unsplash.com/photo-1576091358783-a212ec293ff3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1525&q=80") no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .weather-card .top .wrapper {
    padding: 30px;
    position: relative;
    z-index: 1;
  }
  .weather-card .top .wrapper .mynav {
    height: 20px;
  }
  .weather-card .top .wrapper .mynav .lnr {
    color: #fff;
    font-size: 20px;
  }
  .weather-card .top .wrapper .mynav .lnr-chevron-left {
    display: inline-block;
    float: left;
  }
  .weather-card .top .wrapper .mynav .lnr-cog {
    display: inline-block;
    float: right;
  }
  .weather-card .top .wrapper .heading {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 400;
    color: #fff;
  }
  .weather-card .top .wrapper .location {
    margin-top: 20px;
    font-size: 21px;
    font-weight: 400;
    color: #fff;
  }
  .weather-card .top .wrapper .temp {
    margin-top: 20px;
  }
  .weather-card .top .wrapper .temp a {
    text-decoration: none;
    color: #fff;
  }
  .weather-card .top .wrapper .temp a .temp-type {
    font-size: 85px;
  }
  .weather-card .top .wrapper .temp .temp-value {
    display: inline-block;
    font-size: 85px;
    font-weight: 600;
    color: #fff;
  }
  .weather-card .top .wrapper .temp .deg {
    display: inline-block;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    vertical-align: top;
    margin-top: 10px;
  }
  .weather-card .top:after {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
  }
  .weather-card .bottom {
    position: relative;
    height: 400px;
    width: 100%;
    overflow: hidden;
    background: url("httwYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80") no-repeat;
    background-size: cover;
    background-position: center center;
    text-align: center;
  }
  .weather-card .bottom .wrapper .forecast {
    overflow: hidden;
    margin: 0;
    font-size: 0;
    padding: 0;
    padding-top: 20px;
    max-height: 155px;
  }
  .weather-card .bottom .wrapper .forecast a {
    text-decoration: none;
    color: #000;
  }
  .weather-card .bottom .wrapper .forecast .go-up {
    text-align: center;
    display: block;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .weather-card .bottom .wrapper .forecast li {
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.25);
    line-height: 1em;
    margin-bottom: 30px;
  }
  .weather-card .bottom .wrapper .forecast li .date {
    display: inline-block;
  }
  .weather-card .bottom .wrapper .forecast li .condition {
    display: inline-block;
    vertical-align: middle;
    float: right;
    font-size: 25px;
  }
  .weather-card .bottom .wrapper .forecast li .condition .temp {
    display: inline-block;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-top: 2px;
  }
  .weather-card .bottom .wrapper .forecast li .condition .temp .deg {
    display: inline-block;
    font-size: 10px;
    font-weight: 600;
    margin-left: 3px;
    vertical-align: top;
  }
  .weather-card .bottom .wrapper .forecast li .condition .temp .temp-type {
    font-size: 20px;
  }
  .weather-card .bottom .wrapper .forecast li.active {
    color: rgba(0, 0, 0, 0.8);
  }
  .weather-card.rain .top {
    
    background-size: cover;
    background-position: center center;
  }

  .submit-btn, .toggle-btn {
    height: 56px;
    width: 260px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    margin-top: 10px;
    background-color: #2371DF;
    color: #FFFFFF;
    border-radius: 4px;
    margin-bottom: 8px;
  }
  .toggle-btn {
    margin-top: 30px;
    opacity: 1;
    height: 56px;
  }
 

  input {
    height: 60px;
    width: 260px;
    display: block;
    padding-left: 16px;
    font-size: 18px;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: 5px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    cursor: text;
    color: black;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    color: black;
    max-width: 260px;
    font-weight: 700;
  }