{% extends 'health/basic.html' %}

{% block title %}Home{% endblock %}

{% block body %}
{% load static %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="height: 50vh;"> 
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" style="height: 50vh;">
    <div class="carousel-item active">
      <img class="d-block w-100 homeBanner" src="{%static 'health/images/doctors_appointment_banner.webp' %}"
        alt="First slide">
    </div>
    <div class="carousel-item" style="height: 50vh;">
      <img class="d-block w-100 homeBanner" src="{%static 'health/images/doctors.jpg' %}" alt="Second slide">
    </div>
    <div class="carousel-item" style="height: 50vh;">
      <img class="d-block w-100 homeBanner" src="{%static 'health/images/hospital.jpg' %}" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
  <div class="row py-5">
    <!-- Hospital Login -->
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{%static 'health/images/doc.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Hospital</h5>
          <p class="card-text">Register/Login as an hospital to see latest appointments. </p><br>
          <a href="accounts/hregister/" class="btn btn-primary">Register</a>
          <a href="accounts/hlogin/" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
    <!-- Patients Login -->
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{%static 'health/images/patient.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Patient</h5>
          <p class="card-text">Register/Login to schedule an appointment or a test in your nearest hospital</p>
          <a href="accounts/pregister/" class="btn btn-primary">Register</a>
          <a href="accounts/plogin/" class="btn btn-primary">Login</a>
        </div>
      </div>
    </div>
    <!-- Emergancy -->
    <div class="col-lg-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{%static 'health/images/emergency.jpg' %}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Emergency</h5>
          <p class="card-text">Immediate booking for bed, ICU, oxygen cylinder, etc during medical emergencies </p>
          <a href="#" class="btn btn-primary">Emergency Booking</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- specialist-->
<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-xs-12">
      <h2>Specialist</h2>
    </div>
  </div>
</div>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/cancer.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Cancer</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/cardiology.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Cardiology</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/dentist.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Dentist</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/dermatology.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Dermatology</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/diabetes.png' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Diabetes</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/orthopedic.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Orthopedic</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/pulmonology.png' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Pulmonology</h2>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative rounded overflow-hidden">
          <img alt="ecommerce" class="object-cover object-center w-full h-full block"
            src="{%static 'health/images/specialist/sexology.jpg' %}">
        </a>
        <div class="mt-4">
          <h2 class="text-gray-900 title-font text-lg font-medium">Sexology</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Top hospital -->
<div class="container" style="text-align: center;">
  <div class="row">
    <div class="col-xs-12">
      <h2>Best Hospitals in Mumbai</h2>
    </div>
  </div>
</div>
<ul id="autoWidth" class="cs-hidden">
  <li class="item-a">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/hinduja.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">P D Hinduja National Hospital and Research Center</a>
        </div>
      </div>
    </div>
  </li>
  <li class="item-b">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/lilavati.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Lilavati Hospital and Research Center</a>
        </div>
      </div>
    </div>
  </li>
  <li class="item-c">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/nanavati.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Balabhai Nanavati Hospital</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-d">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/hiranandani.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Hiranandani Hospital</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-e">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/jaslok.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Jaslok Hospital</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-f">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/kohinoor.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Kohinoor Hospital Pvt. Ltd.</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-g">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/fortis.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Fortis Hospitals Ltd.</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-h">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/sevenHills.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Seven Hills Healthcare Pvt. Ltd.</a><br>
        </div>
      </div>
    </div>
  </li>
  <li class="item-i">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/kokilaben.png' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Kokilaben Dhirubhai Ambani Hospital and Research Institute</a>
        </div>
      </div>
    </div>
  </li>
  <li class="item-j">
    <div class="box">
      <div class="slide-img">
        <img src="{%static 'health/images/hospital_logo/saifee.jpg' %}" alt="" />
        <div class="overlay">
          <a href="#" class="buy-btn">Book Now</a>
        </div>
      </div>
      <div class="detail-box">
        <div class="type">
          <a href="#">Saifee Hospital</a><br>
        </div>
      </div>
    </div>
  </li>
</ul>

{% endblock %}