{% extends 'health/basic.html' %}
{% load static %}


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">




{% block title %}Book Lab{% endblock %}

{% block body %}

<style type="text/css">
.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh;
}

section{
	padding: 60px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color: black;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 28px;
}

#accordion-style-1 .btn-link {
    font-weight: 100;
    color: #007bff;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 11px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007bff;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #007bff;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}


</style>


<nav class="one-edge-shadow sticky-top navbar navbar-expand-lg navbar-light" style="background-color: #007bff;">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link">AIM 2 <span class="sr-only">(current)</span></a>
        </li>
  
      </ul>
  

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link">CARE <span class="sr-only">(current)</span></a>
      </li>

    </ul>


    <ul class=" navbar-nav my-2 my-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="/cart">Cart 
          <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
          <span class="sr-only">(current)</span></a>
      </li>
      {% if request.session.customer %}
      
      <li class="nav-item ">
        <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/logout">Logout<span class="sr-only">(current)</span></a>
      </li>
      {% else %}
     
      
      {% endif %}

    </ul>
  </div>
</nav>

<div style="background: url(https://www.eurofins-technologies.com/pub/media/catalog/category/covid-19-header.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-7 font-weight-bold">Book Lab Tests At Home</h1>
        
    </div>
</div>

<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class=" col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center" style="padding:0.5rem">

                        
                                    <div class="col" >
                                        <input class="form-control form-control-lg form-control-borderless" style="border: none;" type="search" placeholder="Search test or condition">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto" >
                                        <button class="btn btn-lg btn-success" style="color: #35477d;" type="submit" >Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>

                            
                        </div>
                        <!--end of col-->
                    </div>
</div>

<div class="container-fluid">
<div class="row mx-auto">
{% for product in products %}
<div class="card mx-auto mb-3 mt-5" style="width: 18rem;">
    <img class="card-img-top" src='{{product.image.url}}' alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="color: black;">{{product.name}}</h5>
      <p class="card-text" style="color: black;">{{product.category.name}}</p>
      <p class="card-text" style="color: black;">₹ {{product.price}}</p>
      <p class="card-text" style="color: black;">{{product.description}}</p>
    
      <a href="#" class="btn btn-primary border ">Add to Cart</a>
    
    </div>
</div>
{% endfor %}
</div>
</div>

  








<!--<script src="{%static 'health/js/jquery-3.3.1.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/popper.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/bootstrap.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/jquery.validate.min.js' %}"></script>-->
<!-- <script src="js/main.js"></script> -->

{% endblock %}