{% extends 'health/basic.html' %}
{% load static %}


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">




{% block title %}Book Lab{% endblock %}

{% block body %}

<style type="text/css">
.bg-cover {
    background-size: cover !important;
}

body {
    min-height: 100vh;
}

section{
	padding: 60px 0;
}

#accordion-style-1 h1,
#accordion-style-1 a{
    color: black;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 28px;
}

#accordion-style-1 .btn-link {
    font-weight: 100;
    color: #007bff;
    background-color: transparent;
    text-decoration: none !important;
    font-size: 11px;
    font-weight: bold;
	padding-left: 25px;
}

#accordion-style-1 .card-body {
    border-top: 2px solid #007bff;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main{
	display:none;
}

#accordion-style-1 .card-header .btn .fa.main{
	background: #007bff;
    padding: 13px 11px;
    color: #ffffff;
    width: 35px;
    height: 41px;
    position: absolute;
    left: -1px;
    top: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
	display:block;
}


</style>

<div style="background: url(https://www.eurofins-technologies.com/pub/media/catalog/category/covid-19-header.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1 class="display-7 font-weight-bold">Book Lab Tests At Home</h1>
        
    </div>
</div>

<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class=" col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center" style="padding:0.5rem">

                        
                                    <div class="col" >
                                        <input class="form-control form-control-lg form-control-borderless" style="border: none;" type="search" placeholder="Search test or condition">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto" >
                                        <button class="btn btn-lg btn-success" style="color: #35477d;" type="submit" >Search</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>

                            
                        </div>
                        <!--end of col-->
                    </div>
</div>

  
<section id="gallery">
  <div class="container">
    <div class="row">

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
        
       <a href="/lab3" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="/lab3" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

    <div class="col-lg-4 mb-2">
    <div class="card" style="width:20rem">
      <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60" alt="" class="card-img-top" style="height:10rem">
      <div class="card-body">
        <h5 class="card-title" >Fever Package</h5>
        <p class="card-text">Package Tests Included in Fever Package</p>
        <p class="card-text">Widal Test (Slide Agglutination), Urine Routine - 9 tests, Malarial Parasite Identification, Complete Blood Count - 22 tests</p>
       <a href="" class="btn btn-success btn-sm"style="text-align: center; padding:0.5rem">Add To Cart</a>
        <a href="" class="btn btn-danger btn-sm" style="text-align: center; padding:0.5rem"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>

 
 
</div>
</section>







<!--<script src="{%static 'health/js/jquery-3.3.1.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/popper.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/bootstrap.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/jquery.validate.min.js' %}"></script>-->
<!-- <script src="js/main.js"></script> -->

{% endblock %}