{% extends 'health/basic.html' %}
{% load static %}


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">




{% block title %}Book Lab{% endblock %}

{% block body %}

<style type="text/css">


</style>








<!--<script src="{%static 'health/js/jquery-3.3.1.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/popper.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/bootstrap.min.js' %}"></script>-->
<!--<script src="{%static 'health/js/jquery.validate.min.js' %}"></script>-->
<!-- <script src="js/main.js"></script> -->

{% endblock %}